<nav class="navbar" role="navigation" ng-hide="contactsAvailable.facebook">

    <button type="button" class="btn btn-default navbar-btn" ng-click="addFacebookContacts()" ng-hide="contactsAvailable.facebook">
        <i class="icon-facebook-sign"></i>
    </button>

</nav>

<ul class="nav nav-tabs nav-justified">
    <li class="active" ng-show="contactsAvailable.facebook">
        <a href="#facebook" data-toggle="tab"><i class="icon-facebook icon-3x"></i></a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="facebook" ng-show="contactsAvailable.facebook">

        <input type="text" ng-model="filter" ng-init="filter=''" class="form-control" placeholder="{{'contact.filter' | i18n}} ...">

        <div class="list-group">
            <a href="" class="list-group-item" ng-repeat="friend in facebookFriends | orderBy:'name' | filter:{'name':filter}" ng-init="active=alreadyFacebookChecked(friend.id)" ng-click="clickFacebookFriend(friend.id)" ng-class="{active:active}">
                <img ng-src="{{friend.avatar}}" class="img-responsive img-thumbnail"/>
                <strong>{{friend.name}}</strong>
                <i class="pull-right icon-3x" ng-class="{'icon-heart':active&&!loading,'icon-question':!active&&!loading, 'icon-spinner icon-spin':loading}"></i>
            </a>
        </div>

    </div>
</div>